<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragments/layoutAdmin :: layoutA(~{::title}, 'pendientes' ,~{::main}, ~{::script})}">

<header>
    <title>Pedidos Pendientes</title>
</header>

<body>
    <main class="container-fluid text-center">
        <div>
            <h1>Pedidos Recibidos</h1>
            <table class="table table-responsive">
                <thead class="text-center">
                    <tr>
                        <th>Id pedido</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Productos</th>
                        <th>Tiempo</th>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr th:each="pedido : ${pedidosPendientes}">
                        <td>1</td>
                        <td th:text="${pedido.getNombreUsuario()}"></td>
                        <td th:text="${pedido.estado ? 'ENTREGADO' : 'PENDIENTE'}"></td>
                        <td th:text="${pedido.getProductos()}"></td>
                        <td th:text="${pedido.fechaEntrega != null} ? ${#temporals.format(pedido.fechaEntrega,'HH:mm')} : 'No programada'">
                        <td>
                            <form th:action="@{/notificacion/notificar}" method="POST">
                                <input type="hidden" name="idUsuario" th:value="${pedido.getNombreUsuario()}">
                                <button class="btn btn-primary" type="submit">Enviar notifiacion</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>


    <script></script>
</body>

</html>