<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragments/layoutAdmin :: layoutA(~{::title}, 'pendientes' ,~{::main}, ~{::script})}">

<header>
    <title>Pedidos Pendientes</title>
</header>

<body>
    <main class="container main-content text-center">
        <div>
            <h1>Pedidos Recibidos</h1>
            <table class="table table-responsive">
                <thead class="text-center">
                    <tr>
                        <th>Id pedido</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Productos</th>
                        <th>Tiempo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr th:each="pedido : ${pedidosPendientes}">
                        <td th:text="${pedido.getCodigoPedido()}"></td>
                        <td th:text="${pedido.getNombreUsuario()}"></td>
                        <td th:text="${pedido.isEstado() ? 'ENVIADO' : 'PENDIENTE'}"></td>
                        <td>
                            <div th:each="producto : ${pedido.getProductos()}">
                                <p th:text="${producto.getProducto().nombre}"></p>
                            </div>
                        </td>
                        <td th:text="${pedido.getFechaEntrega()}"></td>
                        <td>
                            <form th:action="@{/notificacion/notificar}" method="POST">
                                <input type="hidden" name="idUsuario" th:value="${pedido.getIdUsuario()}">
                                <input type="hidden" name="codigoPedido" th:value="${pedido.getCodigoPedido()}">
                                <button class="btn btn-primary" type="submit">Enviar notifiacion</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script></script>
</body>

</html>