<!DOCTYPE html>
<html lang="es" xmlns="https://www.thymeleaf.org"
    th:replace="~{fragments/layout :: layout(~{::title}, 'pendientes' ,~{::main}, ~{::script})}">

<header>
    <title>Pedidos Pendientes</title>
</header>

<body>
    <main class="container-fluid text-center">
        <div>
            <h1>Pedidos Recibidos</h1>
            <table class="table table-responsive">
                <thead class="text-center">
                    <tr>
                        <th>Id pedido</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Productos</th>
<!--                        <th>Precio</th>-->
<!--                        <th>Acciones</th>-->
                        <th>Tiempo</th>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr th:each="pedido : ${pedidos}" th:if="${pedidos != null}">
                        <td th:text="${pedido.idPedido}"></td>
                        <td th:text="${pedido.usuario.nombre}"></td>
                        <td th:text="${pedido.estado ? 'ENTREGADO' : 'PENDIENTE'}"></td>
                        <td>
                            <div th:each="PedidosP: ${productosPedido}">
                                <span th:text="${PedidosP.nombre}"></span>
                            </div>
                        </td>
<!--                        <td th:text="${pedido.description}"></td> -->
<!--                        <td th:text="${pedido.price}"></td>-->
<!--                        <td>-->
<!--                            <button type="button" class="btn btn-success"-->
<!--                                th:onclick="aceptarPedido(${pedido.id})">Entregar</button>-->
<!--                        </td>-->
                        <td th:text="${pedido.fechaEntrega != null} ?
           ${#temporals.format(pedido.fechaEntrega, 'dd/MM/yyyy HH:mm')}
           : 'No programada'">
                            Fecha de entrega
                        </td>
                        <td>
                            <button class="btn btn-primary">Enviar notifiacion</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>


    <script></script>
</body>

</html>